.container {
    width: 100%;

    &-fluid {
        padding: 0;
        margin: 0;
    }
}

.section {
    background-color: $background-primary;

    &.alternative {
        background-color: $background-secondary;
    }

    &__wrapper {
        max-width: 1270px;
        padding-left: 24px; 
        padding-right: 24px;
        margin-left: auto;
        margin-right: auto;

        .row {
            padding: 0 !important;
        }
    }
}

