.navbar {
    max-width: 1270px;
    margin: auto;
    padding-right: 24px;
    padding-left: 24px;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
    transform-style: preserve-3d; 
    opacity: 1;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: 1439px){
        padding-right: 0;
        padding-left: 0;
    }

    &__wrapper {
        margin-left: 17.5px;
        margin-right: 17.5px;
        display: flex; 
        width: 100%;
    }

    &-brand {
        font-size: 1.5rem;
        font-weight: bold;

        @media screen and (max-width: 991px){
            order: 1;
        }
    }

    &-link {
        font-size: 1rem;
    }

    &-expand-lg {
        .navbar-collapse {
            width: 100%;
            justify-content: end;
            align-items: end;
            align-items: center;
        }
    }

    &-nav {    
        z-index: 1;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        display: flex;

        .nav-item {
            align-items: center;
            padding-left: 13px;
            padding-right: 13px;
            display: flex;

            .nav-link {
                color: $heading-color;
                padding: 0;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.125em;
            }
        }
    }

    .navbar--logo {
        max-width: 161px;
        transform-style: preserve-3d;
        margin-right: 30px;
        padding-left: 0;
        transition: transform .3s;

        &:hover {
            transform: scale3d(.95, .95, 1.01);
        }
    }

    .navbar-toggler {

        @media screen and (max-width: 991px){
            order: 3;
            margin-left: 32px;
        }
    }

    .button {
        &__wrapper {
            display: flex;
            gap: 18px;
            margin-left: 32px;
            align-items: center;

            @media screen and (max-width: 991px){
                order: 2;
            }
        }
    }

    &__helper {
        width: 100%;
        display: flex;

        @media screen and (max-width: 991px){
            order: 2;
            justify-content: flex-end;
        }
    }
}

.nav-item.active .nav-link {
    color: #007bff;
}