.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    border: none;
    cursor: pointer;
    text-decoration: none;

    @media screen and (max-width: 479px) {
        font-size: 16px;
    }

    &--primary {
        border: 1px solid $accent-color;
        background-color: $accent-color;
        color: $neutral-color;
        text-align: center;
        border-radius: 1rem;
        padding: 1.625rem 2.375rem;
        font-weight: 700;
        line-height: 1.111em;
        transition: color .3s, background-color .3s, border-color .3s;

        &.small {
            border-radius: 12px;
            padding: 18px 24px;
            font-size: 16px;
            line-height: 1.125em;
            width: max-content;
        }

        &:hover {
            background-color: $button-hover-color;
            border-color: $button-hover-color;
        }
    }

    &--secondary {
        border: 1px solid $neutral-color-300;
        background-color: $neutral-color;
        box-shadow: 0 2px 6px 0 rgba(16, 16, 16, .04);
        color: $heading-color;
        text-align: center;
        border-radius: 16px;
        padding: 26px 38px;
        font-weight: 500;
        line-height: 1.111em;
        transition: border-color .3s, background-color .3s, color .3s;

        &.small {
            border-radius: 12px;
            padding: 18px 24px;
            font-size: 16px;
            line-height: 1.125em;
            width: max-content;
        }

        &:hover {
            background-color: $accent-color;
            border-color: $accent-color;
        }

    }
}