/* Modify Bootstrap default gutters */
$grid-gutter-width: 1.75rem; 
$spacer: 5rem; 
$gutters: ( 
    0: 0, 
    1: $spacer * .25,
    1_0: $spacer * .3,
    1_1: $spacer * .35,  
    2: $spacer * .5, 
    2_1: $spacer * .6876, 
    2_2: $spacer * .8, 
    3: $spacer, 
    4: $spacer * 1.5, 
    5: $spacer * 3,
); 
  
@each $key, $value in $gutters { 
    .g-#{$key}{ 
        --#{$prefix}gutter-x: #{$value}; 
        --#{$prefix}gutter-y: #{$value}; 
    } 
}