
@font-face {
    font-family: 'Icons Custom Delivery X Template';
    src: url('https://assets.website-files.com/61fd4a65725a5325e9bb25c2/62057d57a3e83b1ada339385_icons-custom-delivery-x-template.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolis';
    src: url('https://assets.website-files.com/61fd4a65725a5325e9bb25c2/61fd5883eb7b567dfe4914fa_Metropolis-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolis';
    src: url('https://assets.website-files.com/61fd4a65725a5325e9bb25c2/61fd5883349060c66d212ba5_Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Metropolis';
    src: url('https://assets.website-files.com/61fd4a65725a5325e9bb25c2/61fd58847003995593c93fee_Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

body {
    font-family: Metropolis, sans-serif;
    line-height: 1.6;
    color: $text-color;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.667em;
    background: $background-primary;
    background-attachment: scroll !important;
    min-height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.161em;
    color: $heading-color;
    margin: 0.67em 0;
    font-weight: 700;
}

h1 {
    font-size: 3.875rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    line-height: 1.227em;
}

h3 {
    font-size: 1.75rem;
    line-height: 1.429em;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
    color: $text-color;
}

.subheading {
    text-transform: uppercase;
    color: $accent-color;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 22px;
}

img {
    max-width: 100%;
    display: inline-block;
}