$accent-color: #ff5634;
$neutral-color: #ffffff;
$heading-color: #121212;
$text-color: #656565;
$button-hover-color: #e13f1f;
$background-primary: #ffffff;
$background-secondary: #fafafa;
$font-stack: Metropolis, sans-serif;